@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #212121;
}

.signIn {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.signIn__text,
.signIn__title,
.signIn__account {
  color: #fff;
  text-align: center;
}

.signIn__account{
  margin-top: 12px;
}

.signIn__account a{
  color: #1966b3;
  transition: .4s ease-in;
}

.signIn__account a:hover{
  color: #00d9ff;
  text-decoration: none;
  transition: .4s ease-in;
}

.signIn__title {
  font-size: 32px;
}

.signIn__title span {
  color: #1966b3;
}

.signIn__text {
  font-size: 16px;
  font-weight: 300;
}

.signIn__form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.signIn__input label {
  display: block;
  position: absolute;
  top: -9px;
  left: 12px;
  height: 18px;
  padding: 0 8px;
  background-color: #212121;
  color: #fff;
  font-size: 12px;
  margin-bottom: 0;
  transition: .4s ease-in;
}

.signIn__input input {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  font-size: 12px;
  background: transparent;
  border: 1px solid white;
  border-radius: 10px;
  outline: none;
  color: #fff;
  transition: .4s ease-in;
}

.signIn__input input:focus {
  border: 1px solid #1966b3;
}

.signIn__input input:focus+label {
  color: #1966b3;
}

.signIn__checkbox label {
  color: #fff;
  display: block;
  margin-left: 7px;
}

.signIn__checkbox label a{
  color: #1966b3;
  transition: .4s ease-in;
}

.signIn__checkbox label a:hover{
  color: #00d9ff;
  text-decoration: none;
  transition: .4s ease-in;
}

.signIn__checkbox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signIn__input {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  height: 40px;
  width: 100%;
}

.signIn__btn {
  text-transform: uppercase;
  position: relative;
  margin-top: 30px;
  width: 185px;
  height: 45px;
  background: #fff;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  border: none;
  z-index: 1;
  overflow: hidden;
  transition: all 0.4s;
  font-weight: 700;
  font-size: 16px;
  color: #111;
}

.signIn__btn::after {
  content: "";
  background: #1966b3;
  position: absolute;
  z-index: -1;
  padding: 0.85em 0.75em;
  display: block;
  transition: all 0.4s;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
}

.signIn__btn:hover:after {
  transform: skewX(-45deg) scale(1, 1);
}

.signIn__btn:hover {
  color: #fff;
}
